.filter-image {
margin-top: 0px;
}

.filter-view {
  padding-left: 5%;
  font-family: sans-serif;
  color: bisque;
}

.filter-view-button {
  width:240px;
  height: 24px;
  margin-top: 0px;
  background-color: transparent;
  color: bisque;
  border-radius: 8px;
}

.filter-image-title{
  margin-top: 32px;
  margin-bottom: 0px;
}
